

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(26, 11, 46, 1);
    color: #FFFFFF;
}
.about-content{
 
    margin: 50px auto;
    max-width: 1200px;
    text-align: center;
    max-height: 223px;

    
}

.about-stat{
  display: flex;
  justify-content: space-around;
   
     margin: 0 auto;
    max-width: 1200px;
    margin:80px 200px 120px 200px;
    
}



.line{
    border: 1px solid rgba(255, 255, 255, 0.269);
    margin-top: 80px;
}

.about-content>h3{
font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-bottom: 16px;
color: rgba(255, 255, 255, 1);
}
.about-content>p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 0.269);
}

.num-text>h3{
font-size: 48px;
font-weight: 900;
line-height: 58px;
color: #00FF88;
}
.num-text>p{
    font-size: 16px;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 0.269);
}
/* section style */

















































@media screen and (max-width: 576px) {

.line{
    max-width:400px ;
   margin: 40px auto;
}

.about-stat{
    flex-wrap: wrap;
    
}


}
